name: Go
on:
  push:
  pull_request:

jobs:
  build:
    name: Build and Unit Test
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.26"

      - name: Check out code
        uses: actions/checkout@v5

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v -race -covermode=atomic -coverprofile=coverage.txt

      - name: Upload coverage to Codecov
        run: bash <(curl -s https://codecov.io/bash)
